@model IEnumerable<WebApplication.Models.EstadoCuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form class="Buscar100-form validate-form">
    <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
        <input class="input100" type="text" name="numCuenta">
        <span class="focus-input100" data-placeholder="Text"></span>
    </div>

    <div class="container-Buscar100-form-btn">
        <div class="wrap-Buscar100-form-btn">
            <div class="Buscar100-form-bgbtn"></div>
            <button class="Buscar100-form-btn">
                Buscar
            </button>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("FechaEmision")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayName("Intereses Acumualados")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoFinal)
        </th>
        <th>
            @Html.DisplayName("CantidadRetiros")
        </th>
        <th>
            @Html.DisplayName("CantDepositos")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intereses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QRCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QRCA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
