@model WebApplication.Models.Beneficiario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Beneficiario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDesactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaAhorro.NumeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaAhorro.NumeroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumentoId.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumentoId.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoParentesco.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoParentesco.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
